a {
    text-decoration: none;
    text-transform: capitalize;
    background-color: aquamarine;
    font-family: cursive;
    padding: 5px;
    border-radius: 30px;
    color: black;
    /* display: block; */
}

a:hover {
    color: blue;
    background-color: chocolate;
}

a:link {
    color: white;
}