.nav-bar {
    height: 70px;
    width: 100%;
    background-color: royalblue;
    color: white;
    line-height: 70px;
    padding: 10px;
    font-family: cursive;
    position: fixed;
    margin-top: 0px;
}

.con {
    background-color: powderblue;
    width: 50%;
    height: 800px;
    position: relative;
    margin: 100px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    /* position: relative;
    top: 100px;
    left: 300px; */
}

h1 {
    position: absolute;
    bottom: 100px;
    left: 200px;
}